*{
    margin: 0;
    padding: 0;
}
/* MENU  */

.main-menu {
    background: white;
    text-align: center;
    height: 80px;
    width: 100%;
    top: 0;
    z-index: 100;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
}

.main-menu-img {
    margin-top: 85px;
}

.main-menu ul {
    display: inline-flex;
    list-style: none;
    display: flex;
    justify-content: space-evenly;


}

.main-menu ul li {
    margin-top: 30px;
    text-decoration: none;
    font-size: 24px;
    padding-bottom: 30px;

}

.main-menu ul li a {
    text-decoration: none;
    color: black;
    padding-bottom: 10px;

}

.main-menu ul li a:hover {
    border-bottom: 4px solid black;


}

.main-menu-img {
    width: 100%;
    position: relative;
}

.main-avatar {
    width: 40px;
    height: 40px;
    margin-top: 25px;
}
.main-avatar:hover{
    cursor: pointer;
}
.avatar-box {
    display: flex;
    
}

#account {
    margin-left: 10px;
    border: none;
    background-color: transparent;

}

#log-out {
    margin-left: 15px;
    border: none;
    background-color: transparent;
    position: absolute;
    left: 90%;
    top: 20%;
    display: none;
}

#log-out:hover {
    cursor: pointer;
}

.main-img {
    width: 100%;
    margin-top: 80px;
}


.arrow-down{
    width: 20px;
    height: 20px;
    margin-top: 35px;
    margin-left: 5px;

}
.arrow-down:hover{
    cursor: pointer;
}
.account-status{
    position: fixed;
    right: 30%;
    top: 10%;
    background-color: white;
    width: 100px;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
    flex-direction: column;

}
.account-info{
    margin-top: 5px;
    text-decoration: none;
    color: black;
}
.account-info:hover{
    background-color: blue;
    color: white;

}


/* //// */
.container{
    margin-top: 100px;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}




.card {
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 30px 30px -15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

.tienao {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}
.price-box{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.card ul {
    list-style: none;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.card ul li {
    width: 24px;
    height: 24px;    
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

.card ul li:hover {
    transform: scale(1.1);
}

#black {
    background-color: black;
}
#red {
    background-color: red;
}
#amber {
    background-color: #ffca28;
}
#blue {
    background-color: #42a5f5;
}
#gray {
    background-color: #bdbdbd;
}

/* Color selected styles */

body.black {
    background-color: black;
    color:  black;
}
body.red {
    background-color: red;
    color: red;
}
body.amber {
    background-color: #ffca28;
    color: #ffca28;
}
body.blue {
    background-color: #42a5f5;
    color: #42a5f5;
}
body.gray {
    background-color: #bdbdbd;
    color: #bdbdbd;
}

.add-box{
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
}
.add-box button{
    height: 30px;
    background-color: transparent;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.add-box label{
    height: 30px;
    background-color: transparent;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    text-align: center;
    padding-top: 5px;
}
.add-box label:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
}
.add-box button:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
}



.decorate-box{
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* /// */
/* SHIRT  */
.shirt-box{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#shirt-img2{
    display: none;

}
#shirt-img3{
    display: none;
}
#shirt-img4{
    display: none;
}
#shirt-img5{
    display: none;
}
#shirt-img6{
    display: none;
}
#shirt-img7{
    display: none;
}
#shirt-img8{
    display: none;
}
.button-box{
    display: flex;
    width: 400px;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}
.button-box button{
    width: 60px;
    height: 50px;
    border: none;
    border-radius: 5px;
}

.button-box button:hover{
    cursor: pointer;
    background-color: rgb(3, 124, 29);
    color: white;
}


.shirt{
    width: 400px;
    display: flex;
    justify-content: center;
}
.shirt img{
    width: 350px;
}



/* /// */
/* SIZE BOX  */
.element-box{
    width: 250px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.size-box{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.size-box input{
    width: 40px;
    height: 20px;
}
.size-box div{
    flex-direction: column;
    display: flex;
    text-align: center;
}

.cost-box{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

#enter{
    display: none;
}

.purchase-btn{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
}

.purchase-btn:hover{
    cursor: pointer;
    background-color: rgb(45, 197, 45);
}


/* FOOTER  */

.footer{
    margin-top: 100px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
}

.main-footer{
    width: 100%;
}

.icon{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    font-size: 50px;
    color: white;

}

.footer-link{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    
}

.footer-link a{
    text-decoration: none;
    color: white;
}


/* CHỌN PHÔI  */

.design-container{
    margin-top: 100px;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;          
    justify-content: center;
    z-index: 99;
}
.design-host{
    width: 700px;
    height: 320px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.off img{
    width: 20px;
}
.off img:hover{
    cursor: pointer;

}
.off{
    display: flex;
    justify-content: end;
    border: 2px solid black;
    width: 700px;
    background-color: white;
}
.design-box{
    display: flex;
    width: 700px;
    height: 300px;
    border: 2px solid black;

    background-color: white;
    justify-content: space-around;
    align-items: center;
}
.design-box img{
    width: 100px;
}

.design-box div {
    text-align: center;
    
}
.design-box a {
    text-decoration: none;
    color: black;
}
.design-box div:hover{
    cursor: pointer;
}

/* ADD TEXT  */

.box {
    border: 1px dotted white;
    position: absolute;
    height: 100px;
    width: 100px;
    text-align: center;
    min-width: 1em;
    min-height: 1em;
    max-height: 300px;
    max-width: 200px;
    left: 50%;
    transform: translateX(-50%);
    top: 60%;
    display: none;
    background-color: transparent;
    color: white;
    
}



.small-box {
    display: flex;
    justify-content: space-between;
}

#font-size {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 60%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    position: absolute;
    left: 5%;
    top: 45%;
    display: none;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#content {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #43A047;
}

.offf{
    display: flex;
    justify-content: end;
}

.offf img{
    width: 20px;
}


/* ADD IMG  */
#file{
    display: none;
}
#uploadAvatar{
    width: 150px;
    height: 30px;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
}

/* UPLOAD IMG  */

.popup {

    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    min-height: 70px;
    min-width: 100px;
    max-height: 100px;
    max-width: 150px;
  }
  
  /*Drgable */
  
  .popup {
    position: absolute;
    /*resize: both; !*enable this to css resize*! */

  }
  #img-box{
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    min-height: 70px;
    min-width: 100px;
    max-height: 100px;
    max-width: 150px;
  }
  .popup-header {
    padding: 10px;
    cursor: move;
    z-index: 10;
    color: #fff;

  }
  
  /*Resizeable*/
  
  .popup .resizer-right {
    width: 5px;
    height: 100%;
    background: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: e-resize;
  }
  
  .popup .resizer-bottom {
    width: 100%;
    height: 5px;
    background: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: n-resize;
  }
  
  .popup .resizer-both {
    width: 5px;
    height: 5px;
    background: transparent;
    z-index: 10;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: nw-resize;
  }
  
  /*NOSELECT*/
  
  .popup * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
  